@import 'reset.css';

/* GLOBAL */
.caps {
  text-transform: uppercase;
}
.paragraph {
  color: #525d73;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
/* ^^ GLOBAL ABOVE ^^ */

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding-bottom: 100px;
  align-items: center;
  background-color: #f3f8ff;
}
.headerBlock {
  margin: 30px;
}
.headerLogo {
  height: 40px;
}
.headerUl {
  display: flex;
  align-items: center;
}
.headerLink {
  font-size: 14px;
  font-weight: 500;
  color: #424d65;
  padding-right: 36px;
}
.liSmaller {
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #d0e5f2;
  border-radius: 25px;
  padding: 6px 10px 6px 6px;
}
.liSmaller span {
  font-size: 12px;
  background: var(--orange);
  color: white;
  padding: 3px 10px;
  border-radius: 25px;
  margin-right: 2px;
}
.loginBtn,
.signinBtn {
  font-size: 14px;
  font-weight: 500;
  color: #424d65;
}
.loginBtn {
  background: transparent;
  border: none;
  border-bottom: 2px solid #04a8ff;
  margin-right: 22px;
  width: fit-content;
  padding: 0 0 4px;
}
.signinBtn {
  background: #def4fe;
  border: none;
  padding: 10px 36px;
  color: #04a8ff;
  border-radius: 5px;
}

/* Intro section */
/* Left part */
.introSection {
  margin-left: 25px;
  margin-right: 25px;
}
.introSplit {
  display: flex;
  background-color: #f3f8ff;
}
.introLeft {
  max-width: 50%;
  margin-left: 145px;
}
.introTitle {
  font-family: var(--font-two);
  color: #00acff;
  font-size: 50px;
  margin-bottom: 16px;
}
.introBigTxt {
  font-size: 85px;
  font-weight: 700;
  line-height: 90px;
  color: #292e37;
  margin-bottom: 40px;
}
.introBigTxt span {
  display: block;
}
.introPara {
  width: 388px;
  margin-bottom: 40px;
}
.btnBlue,
.btnPlay {
  font-size: 14px;
  font-weight: 600;
}
.btnBlue {
  background: linear-gradient(90deg, #45bfff 26.58%, #00a7ff 100%);
  height: 62px;
  width: 190px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-right: 23px;
}
.introBtns {
  display: flex;
  justify-content: space-between;
}
.playBtnBlock {
  display: flex;
  justify-content: flex-end;
}
.btnPlay {
  color: #19b0ff;
  background: transparent;
  border: none;
  height: 62px;
  margin-left: 16px;
}
