:root {
  --very-light-blue: #f3f8ff;
  --dark-blue: #001caf;
  --primary-dark: #2a2e36;
  --primary-dark-small: #292e37;
  --secondary-dark: #525d73;
  --orange: #fe5600;
  --yellow: #ffc700;
  --blue: #00d9ff;
  --font-two: 'Seaweed Script', cursive;
}
